.main {
  &-container {
	display: flex;
	padding: 2.4rem;
	@include laptop{
	  flex-direction: column-reverse;
	  position: relative;
	}
	@include vsd{
	  padding: 2.4rem 0;
	}
	
	&--left {
	  width: 50%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  filter: drop-shadow(0 0 20px rgba(0, 217, 255, 0.53)) invert(15%);
	  @include laptop{
		width: 100%;
		position: absolute;
		top: 50%;
		left:50%;
		transform: translate(-50%, -50%);
		z-index: 10;
	  }
	}
	
	&--right {
	  width: 50%;
	  height: 80vh;
	  @include laptop{
		width: 100%;
	  }
	  
	  > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 16px;
		filter: invert(15%) blur(2px);
	  }
	}
  }
}

.text{
  &-box{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	gap: 2.8rem;
	@include laptop{
	  background-color: rgba(52, 58, 70, 0.25);
	  padding: 2.4rem;
	  border-radius: 6px;
	}
	@include mobile{
	  margin: 2.4rem;
	  height: 80vh;
	  background-color: rgba(54, 52, 70, 0.6);
	}
	@include vsd{
	  margin: 0;
	}
  }
  
  &-title{
	font-family: 'Monoton', cursive;
	font-size: 6.2rem;
	width: 496px;
	font-weight: bold;
	line-height: 8rem;
	color: #159eca;
	@include mobile{
	  width: 20%;
	}
  }
  &-text{
	width: 450px;
	font-size: 2.4rem;
  }
}


