*, ::before, :after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}
html{
  font-size: 62.5%;
}

body{
  display: flex;
  flex-direction: column;
  background-color: #23272f;
  color: #fffefc;
  font-size: 1.6rem;
  height: 100vh;
}

header{
  height: 7.2rem;
}

main{
  flex-grow: 1;
}
footer{
  height: 5.4rem;
}

.btn{
  font-family: 'helvetica', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  width: fit-content;
  border-radius: 8px;
  border: none;
  padding: 1.6rem 3.2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  background-color: #159ECA;
  color: #FFFEFC;
  &:hover{
    filter:  drop-shadow(0 0 20px rgba(0, 217, 255, 0.22)) ;
  }
}
